USE [master]
GO
/****** Object:  Database [CoffeeShop]    Script Date: 17/07/2024 9:53:51 PM ******/
CREATE DATABASE [CoffeeShop]
GO


IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [CoffeeShop] SET QUERY_STORE 
(
	OPERATION_MODE = READ_WRITE, 
	CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), 
	DATA_FLUSH_INTERVAL_SECONDS = 900, 
	INTERVAL_LENGTH_MINUTES = 60, 
	MAX_STORAGE_SIZE_MB = 1000, 
	QUERY_CAPTURE_MODE = AUTO, 
	SIZE_BASED_CLEANUP_MODE = AUTO, 
	MAX_PLANS_PER_QUERY = 200, 
	WAIT_STATS_CAPTURE_MODE = ON
)



GO
USE [CoffeeShop]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [varchar](5) NOT NULL,
	[SoGhe] [int] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLam]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLam](
	[MaCa] [varchar](10) NOT NULL,
	[TenCa] [nvarchar](30) NULL,
	[ThoiGianBatDau] [time](7) NOT NULL,
	[ThoiGianketThuc] [time](7) NOT NULL,
	[LuongTheoGio] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[SoLuong] [int] NOT NULL,
	[SanPham] [varchar](10) NOT NULL,
	[HoaDon] [varchar](15) NOT NULL,
	[KichThuoc] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SanPham] ASC,
	[HoaDon] ASC,
	[KichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](15) NOT NULL,
	[NhanVien] [varchar](10) NOT NULL,
	[Ban] [varchar](5) NULL,
	[KhachHang] [varchar](10) NOT NULL,
	[NgayTao] [datetime] NULL,
	[PhuongThucThanhToan] [varchar](15) NULL,
	[TrangThaiThanhToan] [bit] NOT NULL,
	[GhiChu] [varchar](1150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DienThoai] [varchar](11) NOT NULL,
	[NgayThem] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [varchar](10) NOT NULL,
	[TenKhuyenMai] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](150) NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[PhanTramGiamGia] [real] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](30) NOT NULL,
	[MoTa] [nvarchar](150) NULL,
	[CoPhanLoai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](10) NOT NULL,
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[GioiTinh] [bit] NOT NULL,
	[Sdt] [varchar](11) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[ChucVu] [bit] NOT NULL,
	[NgayTuyenDung] [datetime] NULL,
	[DiaChi] [varchar](100) NULL,
	[KhuVuc] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
	[TrangThai] [bit] NOT NULL,
	[HinhAnh] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](10) NOT NULL,
	[KhuyenMai] [varchar](10) NULL,
	[LoaiSanPham] [varchar](10) NOT NULL,
	[TenSanPham] [nvarchar](150) NULL,
	[KichThuoc] [char](1) NOT NULL,
	[Gia] [real] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[HinhAnh] [varchar](150) NULL,
	[MoTa] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[KichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[TenTaiKhoan] [varchar](20) NOT NULL,
	[MatKhau] [varchar](160) NULL,
	[LoaiTaiKhoan] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinCa]    Script Date: 17/07/2024 9:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinCa](
	[MaCa] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[NgayLam] [date] NOT NULL,
	[TongDoanhThu] [real] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([MaBan], [SoGhe], [TinhTrang]) VALUES (N'1', 4, 1)
INSERT [dbo].[Ban] ([MaBan], [SoGhe], [TinhTrang]) VALUES (N'10', 6, 0)
INSERT [dbo].[Ban] ([MaBan], [SoGhe], [TinhTrang]) VALUES (N'11', 6, 0)
GO
INSERT [dbo].[CaLam] ([MaCa], [TenCa], [ThoiGianBatDau], [ThoiGianketThuc], [LuongTheoGio]) VALUES (N'CA01', N'Ca Sáng', CAST(N'00:00:00' AS Time), CAST(N'11:30:00' AS Time), 23000)
INSERT [dbo].[CaLam] ([MaCa], [TenCa], [ThoiGianBatDau], [ThoiGianketThuc], [LuongTheoGio]) VALUES (N'CA02', N'Ca Chiều', CAST(N'11:30:00' AS Time), CAST(N'16:30:00' AS Time), 23000)
INSERT [dbo].[CaLam] ([MaCa], [TenCa], [ThoiGianBatDau], [ThoiGianketThuc], [LuongTheoGio]) VALUES (N'CA03', N'Ca Tối', CAST(N'16:30:00' AS Time), CAST(N'23:59:00' AS Time), 25000)
GO
INSERT [dbo].[ChiTietHoaDon] ([SoLuong], [SanPham], [HoaDon], [KichThuoc]) VALUES (2, N'SP001', N'HD0427001', N'L')
INSERT [dbo].[ChiTietHoaDon] ([SoLuong], [SanPham], [HoaDon], [KichThuoc]) VALUES (4, N'SP001', N'HD070524008', N'L')
INSERT [dbo].[ChiTietHoaDon] ([SoLuong], [SanPham], [HoaDon], [KichThuoc]) VALUES (2, N'SP001', N'HD080524011', N'M')
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [NhanVien], [Ban], [KhachHang], [NgayTao], [PhuongThucThanhToan], [TrangThaiThanhToan], [GhiChu])
VALUES (N'HD040724001', N'NV002', N'8', N'KH002', CAST(N'2024-07-04T21:37:00.357' AS DateTime), N'BANK_TRANSFER', 1, N'')
INSERT [dbo].[HoaDon] ([MaHoaDon], [NhanVien], [Ban], [KhachHang], [NgayTao], [PhuongThucThanhToan], [TrangThaiThanhToan], [GhiChu]) 
VALUES (N'HD0427001', N'NV001', N'1', N'KH001', CAST(N'2024-04-27T07:01:33.000' AS DateTime), N'CASH', 1, N'')
INSERT [dbo].[HoaDon] ([MaHoaDon], [NhanVien], [Ban], [KhachHang], [NgayTao], [PhuongThucThanhToan], [TrangThaiThanhToan], [GhiChu]) 
VALUES (N'HD0427002', N'NV001', N'2', N'KH002', CAST(N'2024-04-27T07:31:02.000' AS DateTime), N'BANK_TRANSFER', 1, N'')
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [DienThoai], [NgayThem]) VALUES (N'KH001', N'Nguyễn Thị Hằng', 0, N'0987654321', CAST(N'2024-04-27T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [DienThoai], [NgayThem]) VALUES (N'KH002', N'Trần Văn Hùng', 1, N'0123456789', CAST(N'2024-04-27T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [DienThoai], [NgayThem]) VALUES (N'KH003', N'Lê Thị Minh Châu', 0, N'0978123456', CAST(N'2024-04-27T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [MoTa], [NgayBatDau], [NgayKetThuc], [PhanTramGiamGia], [TrangThai])
VALUES (N'KM001', N'Giảm giá 20% cho tất cả sản phẩm', N'Áp dụng cho tất cả các sản phẩm trong cửa hàng', 
		CAST(N'2024-10-30T00:00:00.000' AS DateTime), CAST(N'2024-12-01T00:00:00.000' AS DateTime), 20, 0)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [MoTa], [NgayBatDau], [NgayKetThuc], [PhanTramGiamGia], [TrangThai]) 
VALUES (N'KM002', N'Giảm giá 15% cho bánh ngọt', N'Chương trình khuyến mãi đặc biệt cho bánh ngọt', 
		CAST(N'2024-11-01T00:00:00.000' AS DateTime), CAST(N'2024-01-30T00:00:00.000' AS DateTime), 15, 1)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TenKhuyenMai], [MoTa], [NgayBatDau], [NgayKetThuc], [PhanTramGiamGia], [TrangThai]) 
VALUES (N'KM003', N'd', N'test', CAST(N'2024-01-30T00:00:00.000' AS DateTime), 
		CAST(N'2024-02-28T00:00:00.000' AS DateTime), 90, 0)
GO
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa], [CoPhanLoai]) VALUES (N'Loai01', N'Cà phê', N'Cà phê nóng, sữa và đá, các loại espresso, cappuccino, latte, và nhiều hương vị khác', 1)
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa], [CoPhanLoai]) VALUES (N'Loai02', N'Bánh ngọt', N'Bánh ngọt làm từ các nguyên liệu như bột mỳ, đường, trứng, bơ, và có thể có các loại nhân khác nhau', 0)
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa], [CoPhanLoai]) VALUES (N'Loai03', N'Thức uống khác', N'Thức uống khác bao gồm các loại nước ép, sinh tố, nước ngọt và nước ép trái cây tự nhiên', 1)
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [GioiTinh], [Sdt], [NgaySinh], [ChucVu], [NgayTuyenDung], [DiaChi], [KhuVuc], [Email], [TrangThai], [HinhAnh]) 
VALUES (N'NV000', N'TK000', N'Đồng Văn Xướng', 1, N'0376782409', CAST(N'2004-11-14T00:00:00.000' AS DateTime), 0, CAST(N'2024-05-31T00:00:00.000' AS DateTime), N'TP.H? Chí Minh', NULL, N'xuongdong525@gmail.com', 1, NULL)
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [GioiTinh], [Sdt], [NgaySinh], [ChucVu], [NgayTuyenDung], [DiaChi], [KhuVuc], [Email], [TrangThai], [HinhAnh]) 
VALUES (N'NV001', N'TK001', N'Nguyễn Văn Thạch', 1, N'0326829327', CAST(N'2004-04-20T00:00:00.000' AS DateTime), 0, CAST(N'2024-04-26T00:00:00.000' AS DateTime), N'TP.H? Chí Minh', N'Quận 12', N'nguyenvanthach2k3@gmail.com', 1, NULL)
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoan], [HoTen], [GioiTinh], [Sdt], [NgaySinh], [ChucVu], [NgayTuyenDung], [DiaChi], [KhuVuc], [Email], [TrangThai], [HinhAnh]) 
VALUES (N'NV002', N'TK002', N'Đoàn Nhựt Duy', 1, N'0376782409', CAST(N'2004-11-14T00:00:00.000' AS DateTime), 1, CAST(N'2024-04-26T00:00:00.000' AS DateTime), N'TP.H? Chí Minh', N'Huyện Hóc Môn', N'doannhutduy2k2@gmail.com', 1, NULL)
GO
INSERT [dbo].[SanPham] ([MaSanPham], [KhuyenMai], [LoaiSanPham], [TenSanPham], [KichThuoc], [Gia], [TrangThai], [HinhAnh], [MoTa]) 
VALUES (N'SP001', N'KM002', N'Loai01', N'Cafe-Affogato', N'L', 40000, 1, N'/icon/cafe-affogato.png', N'Affogato đậm đặc với hương vị mạnh mẽ.')
INSERT [dbo].[SanPham] ([MaSanPham], [KhuyenMai], [LoaiSanPham], [TenSanPham], [KichThuoc], [Gia], [TrangThai], [HinhAnh], [MoTa])
VALUES (N'SP001', N'KM002', N'Loai01', N'Cafe-Affogato', N'M', 35000, 1, N'/icon/cafe-affogato.png', N'Affogato đậm đặc với hương vị mạnh mẽ.')
INSERT [dbo].[SanPham] ([MaSanPham], [KhuyenMai], [LoaiSanPham], [TenSanPham], [KichThuoc], [Gia], [TrangThai], [HinhAnh], [MoTa]) 
VALUES (N'SP001', N'KM002', N'Loai01', N'Cafe-Affogato', N'S', 30000, 1, N'/icon/cafe-affogato.png', N'Affogato đậm đặc với hương vị mạnh mẽ.')
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau], [LoaiTaiKhoan]) VALUES (N'TK000', N'DongVanXuong', N'pass', 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau], [LoaiTaiKhoan]) VALUES (N'TK003', N'admin', N'1', 1)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau], [LoaiTaiKhoan]) VALUES (N'TK002', N'DoanNhutDuy', N'2', 0)
GO
INSERT [dbo].[ThongTinCa] ([MaCa], [MaNhanVien], [NgayLam], [TongDoanhThu]) VALUES (N'CA01', N'NV000', CAST(N'2024-04-27' AS Date), 1500000)
INSERT [dbo].[ThongTinCa] ([MaCa], [MaNhanVien], [NgayLam], [TongDoanhThu]) VALUES (N'CA01', N'NV001', CAST(N'2024-05-07' AS Date), 1500000)
INSERT [dbo].[ThongTinCa] ([MaCa], [MaNhanVien], [NgayLam], [TongDoanhThu]) VALUES (N'CA01', N'NV002', CAST(N'2024-05-08' AS Date), 1500000)
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon] FOREIGN KEY([HoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([SanPham], [KichThuoc])
REFERENCES [dbo].[SanPham] ([MaSanPham], [KichThuoc])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_Ban] FOREIGN KEY([Ban])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([KhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NV] FOREIGN KEY([NhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NV]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NV] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_TaiKhoan_NV]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_KhuyenMai] FOREIGN KEY([KhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_KhuyenMai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([LoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
ALTER TABLE [dbo].[ThongTinCa]  WITH CHECK ADD  CONSTRAINT [FK_NV_Ca_CaLam] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLam] ([MaCa])
GO
ALTER TABLE [dbo].[ThongTinCa] CHECK CONSTRAINT [FK_NV_Ca_CaLam]
GO
ALTER TABLE [dbo].[ThongTinCa]  WITH CHECK ADD  CONSTRAINT [FK_NV_Ca_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThongTinCa] CHECK CONSTRAINT [FK_NV_Ca_NhanVien]
GO
USE [master]
GO
